POSTGRES_DB=vantagedial
POSTGRES_USER=vantagedial
POSTGRES_PASSWORD=change-me
ASTERISK_AMI_HOST=10.0.0.10
ASTERISK_AMI_PORT=5038
ASTERISK_AMI_USERNAME=admin
ASTERISK_AMI_PASSWORD=change-me
ASTERISK_AMI_ENDPOINT=vivphone-endpoint
ASTERISK_AMI_DIAL_PREFIX=91
ASTERISK_AMI_CONTEXT=from-internal
ASTERISK_AMI_EXTENSION=1001
ASTERISK_AMI_PRIORITY=1
APP_LOGGING_LEVEL=MODERATE
WORKER_APP_LOGGING_LEVEL=MODERATE
