[Unit]
Description=Apache Kafka
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Environment="KAFKA_HEAP_OPTS=-Xms256m -Xmx512m"
ExecStart=/home/ubuntu/kafka/bin/kafka-server-start.sh /home/ubuntu/kafka/config/kraft/server.properties
ExecStop=/home/ubuntu/kafka/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
